.text {
  font-size: 34px;
  font-family: Roboto mono;
  color: #00ff00;
}
.bar {
  font-size: 34px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 3px;
  animation: blink 1.2s linear infinite;
}
@keyframes blink {
  0% {
    border-right: 2px solid #00ff00;
  }
  50% {
    border-right: 2px solid #00ff00;
  }
  51% {
    border-right: 1px solid transparent;
  }

  100% {
    border-right: 1px solid transparent;
  }
}
